<div id="{{id}}" class="bfh-selectbox bfh-countries" data-country="{{country}}" data-flags="{{flags}}">
    <input id="{{inputName}}" type="text" ng-model="ngModel" ng-hide="true">
    <input type="hidden">
    <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#">
        <span class="bfh-selectbox-option input-medium" data-option=""></span>
        <b class="caret"></b>
    </a>
    <div class="bfh-selectbox-options">
        <input type="text" class="bfh-selectbox-filter">
        <div role="listbox">
            <ul role="option">
            </ul>
        </div>
    </div>
</div>
