<!-- For IE 10 Metro tile icon -->
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="img/favicon-144.png">
<!-- For iPad with high-resolution Retina display running iOS ≥ 7 -->
<link rel="apple-touch-icon-precomposed" size="152x152" href="img/favicon-152.png">
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" size="144x144" href="img/favicon-144.png">
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" size="120x120" href="img/favicon-120.png">
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" size="114x114" href="img/favicon-114.png">
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" size="72x72" href="img/favicon-72.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="img/favicon-57.png">
<!-- Additional sizes -->
<link rel="icon" href="img/favicon-64.png" sizes="64x64">
<link rel="icon" href="img/favicon-48.png" sizes="48x48">
<!-- For some older versions of Chrome -->
<link rel="icon" href="img/favicon-32.png" sizes="32x32">
<link rel="icon" href="img/favicon-24.png" sizes="24x24">
<link rel="icon" href="img/favicon-16.png" sizes="16x16">
