    <footer class="footer-mid hidden-phone">
        <div class="content-region">
            <div class="row-fluid">
                <nav class="span3">
                    <h6 class="footer-mid-heading">Get to Know Us</h6>
                    <ul class="footer-nav">
                        <li><a href="javascript:void(0);">Why VIP?</a>
                            <li><a href="javascript:void(0);">Terms and Conditions</a>
                                <li><a href="javascript:void(0);">Your Privacy is Important</a>
                                </ul>
                            </nav>
                            <nav class="span3">
                                <h6 class="footer-mid-heading">Learn More</h6>
                                <ul class="footer-nav">
                                    <li><a href="javascript:void(0);">How It Works</a>
                                        <li><a href="javascript:void(0);">FAQs</a>
                                            <li><a href="javascript:void(0);">Contact Us</a>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </footer>
                            <div class="footer-bot">
                                <div class="content-region">
                                    <div class="row-fluid">
                                        <div class="span8"> 
                                            <span class="footer-copy pull-left">© {{ dt | date:'yyyy' }} VIP Communications, Ltd. All rights reserved. | <a href="javascript:void(0);">Terms &amp; Conditions</a></span> 
                                        </div>
                                        <div class="span4"> 
                                            <span class="footer-social pull-right"> 
                                                <a href="javascript:void(0);" class="footer-social-icon social-facebook"></a> 
                                                <a href="javascript:void(0);" class="footer-social-icon social-twiter"></a> 
                                                <a href="javascript:void(0);" class="footer-social-icon social-rssfeed"></a> 
                                                <a href="javascript:void(0);" class="footer-social-icon social-linkedin"></a> 
                                            </span> 
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
