<div class="header-top hidden-phone">
    <div class="head-top-content">
        <div class="head-top-left pull-left" style="max-width: 330px"> 
            <ul class="top-nav">
                <li>
                    <span class="top-nav-anchor">
                        <strong><em>CUSTOMER SERVICE</em></strong> | 
                        <a href="mailto:customerservice@joinvip.com"><i class="fa fa-envelope"></i> <em>Email Us</em></a> 
                        <strong><em>or</em></strong> 
                        <a href="tel:+18008365004"><em>1-800-836-5004</em></a>
                    </span>
            </ul>
        </div>
    </div>
</div>
<div class="header-bottom pull-left row-fluid">
    <div class="head-btm-content"> 
        <a href="/" class="pull-left" hidefocus="true" style="outline: none;">
            <img class="hidden-phone" src="img/logo.png" alt="">
            <img class="visible-phone top-margin" src="img/mobilelogo.png" alt="">
        </a> 
    </div>
</div> 
