<span ng-message="required" class="help-inline">Required</span>
<span ng-message="checkingPhone" class="help-inline"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
<span ng-message="checkingReferral" class="help-inline"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
<span ng-message="checkingEmail" class="help-inline"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
<span ng-message="checkingPIN" class="help-inline"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
<span ng-message="checkingPromotionCode" class="help-inline"><i class="fa fa-spinner fa-spin fa-lg"></i></span>
<span ng-message="validPhoneNumber" class="help-inline">This phone number is not valid</span>
<span ng-message="validReferral" class="help-inline">Invalid phone number or email address</span>
<span ng-message="validPromotion" class="help-inline">Promotion code is not valid</span>
<span ng-message="email" class="help-inline">Invalid email address</span>
<span ng-message="past" class="help-inline">Date cannot be in the past</span>
<span ng-message="validPIN" class="help-inline">PIN is not valid</span>
<span ng-message="phoneAvailable" class="help-inline">
    This phone number is already registered to a VIP account.
    <br>
    Existing customer? Click <a href="/myaccount/login.php">here</a> to login.
</span>
<span ng-message="emailAvailable" class="help-inline">
    This email address is already registered to a VIP account.
    <br>
    Existing customer? Click <a href="/myaccount/login.php">here</a> to login.
</span>
