<div class="modal-header">
    <button type="button" class="close" ng-click="ok()"><i class="fa fa-times"></i></button>
    <h3>Privacy Policy</h3>
</div>
<div class="modal-body">
    <p>VIP Communications Inc. ("VIP") is committed to protecting the
        privacy and security of your personal information. This Privacy
        Policy describes the personal information that we may collect about
        you, how we may use it, when we may disclose it, how we safeguard
        it and how you may access it and control its use in connection with
        our marketing communications. In this policy we refer to personal
        information which is information that we directly associate with a
        specific person or entity for example, name, addresses, telephone
        numbers and call records.<br>
        <br>
        <strong>How Do We Collect Personal Information?</strong><br>
        <br>
        We collect personal information about you in a number of ways
        including:</p>
    <ul>
        <li>
            <p>Information you provide. When you open a VIP account you will be
                asked to provide various information including your name, address,
                telephone number(s), email address and possibly credit card details
                before you are able to use the service.</p>
        </li>
        <li>
            <p>Information automatically collected. Our systems capture details
                about the origination and destination numbers of calls you make as
                well as the date, time and duration of each of your calls. When
                your computer Web browser accesses our Web site we automatically
                receive your IP address which we require to ensure that information
                is only passed to the customer who requested it. We will also set
                cookies (small data files) on your computer when you access our Web
                site to ensure that as you move from Web page to Web page our
                system knows who you are and provides only information related to
                your specific account.</p>
        </li>
        <li>
            <p>Information from other sources. We may also obtain personal
                information about you from other sources. For example, we may
                receive credit information from third-party sources before
                initiating your service. We may also purchase personal information
                (for example, e-mail lists, postal mail lists, demographic and
                marketing data) from third parties.</p>
        </li>
    </ul>
    <p><strong>How Do We Use Personal Information?</strong><br>
        <br>
        We use personal information for a variety of business purposes,
        including for example, verifying your identity, to respond to your
        requests for service or assistance, to resolve problems with our
        services, to create and improve products and services, to suggest
        additional or different products or services and to protect our
        rights and property. We may also use personal information to
        contact you about VIP or third party products, services, and offers
        that we believe you will find of interest. We may contact you by
        telephone call, text message, postal mail, e-mail, or other
        methods. You may opt-out of receiving marketing communications from
        us at any time as outlined below.<br>
        <br>
        <strong>How Can You Limit the Use of Your Personal
            Information?</strong></p>
    <ul>
        <li>
            <p>We want to provide you with meaningful choices regarding our
                marketing communications and you may choose to limit or 'opt-out'
                of certain or all communications from VIP at any time.</p>
        </li>
        <li>
            <p>You can manage your VIP account online. To change your marketing
                preferences, log into your account at <a href=
                    "/">joinvip.com</a>. Go to 'Manage Account' and
                click on 'Email &amp; Subscriptions'</p>
        </li>
        <li>
            <p>You may change your marketing preferences by emailing us at
                <a href=
                    "mailto:privacypolicy@joinvip.com">privacypolicy@joinvip.com</a> or
                by writing to us at:<br>
                <br>
                <a href="/">VIP Communications, Inc.</a><br>
                Attn: Customer Service<br>
                45189 Research Pl #100<br>
                Ashburn, VA 20146-2694<br>
                (Reference: Privacy Policy)</p>
        </li>
        <li>
            <p>Finally, you may follow the "unsubscribe" instructions on any
                marketing e-mail that we send you.</p>
        </li>
    </ul>
    <p><strong>Do We Share Your Personal Information?</strong><br>
        <br>
        We do not sell, rent, or otherwise provide your personal
        information to unaffiliated third-parties except where we believe
        in good faith such disclosure is necessary to comply with the law
        or respond to legal process (for example, lawful subpoena or court
        order), to enforce or apply agreements, to initiate, render, bill,
        and collect for services and products, to protect our rights or
        property, in connection with claims, disputes, or litigation, to
        protect users of our services and other carriers or providers from
        fraudulent, abusive, or unlawful use of, or subscription to, such
        services, to facilitate or verify the appropriate calculation of
        taxes, fees, or other obligations due to a local, state, or federal
        government or if we determine disclosure is necessary in an
        emergency situation.<br>
        <br>
        <strong>How Do I Access My Information?</strong><br>
        <br>
        You may access and modify your personal information by visiting
        <a href="/">joinvip.com</a> or by contacting our
        Customer Service Center on 1-800-836-5004 and providing the
        necessary security information to allow access to your account
        information.<br>
        <br>
        <strong>Customer Proprietary Network Information
            (CPNI)</strong><br>
        <br>
        Customer Proprietary Network Information, or CPNI, is a subset of
        personal information that is created in connection with the
        telecommunications services that we provide to you. CPNI includes,
        for example, call records, the services you have with us and
        certain information about your rate plans and the features that you
        use. CPNI does not include your name, address, and phone number.
        Under federal law, you have a right, and we have a duty, to protect
        the confidentiality of your CPNI and we have adopted policies and
        procedures designed to ensure compliance with those rules. We will
        never intentionally disclose your CPNI to unaffiliated
        third-parties, except as allowed under FCC rules, applicable law,
        or as explained in this policy. We may however, with your
        permission, disclose CPNI to affiliated companies for marketing
        purposes.<br>
        <br>
        You have the right under federal law, at any time, to restrict our
        use or disclosure of and access to your CPNI. You may restrict:</p>
    <p>1. VIP's use of your CPNI for marketing purposes<br>
        2. VIP from sharing your CPNI with affiliated companies</p>
    <p>You may inform us of any decision to change access to your CPNI
        using any of the methods set forth above in 'How Can You Limit the
        Use of Your Personal Information?' Please remember that, should you
        deny us permission to use your CPNI, we will be prevented from
        providing you with information regarding our other services or
        services offered by our affiliates.<br>
        <br>
        You have the right to disapprove, and revoke or limit access to
        your CPNI at any time and at no cost. Your decision will remain
        effective until you change it and at no time will any decision to
        deny approval affect the provision of VIP services to which you
        currently subscribe.<br>
        <br>
        Please do not call us to change your CPNI access.<br>
        <br>
        <strong>Customer Service Monitoring</strong><br>
        <br>
        We may monitor and record phone calls, e-mails, or other
        communications between you and our Customer Service representatives
        or other employees for training and quality assurance purposes and
        to review specific transaction requests.<br>
        <br>
        <strong>Other Governing Terms</strong><br>
        <br>
        This policy does not modify or alter any applicable agreement you
        have with VIP. For example our <a href=
            "/terms-conditions">Terms and Conditions</a> govern
        your use of our services and the VIP Web site. If this policy
        conflicts with the Terms and Conditions, the Terms and Conditions
        govern to the extent of the inconsistency.<br>
        <br>
        <strong>Changes to This Policy</strong><br>
        <br>
        If we are forced to modify this policy due to changes in
        legislation or for any other reason we will notify you in writing
        and/or via email at least 35 days prior to such changes being
        implemented. In addition you may wish to refer to this policy for
        the latest information and the effective date of any changes.<br>
        <br>
        <strong>How to Contact Us</strong><br>
        <br>
        If you have any questions or comments about this policy or about
        VIP's privacy practices, please call Customer Service
        1-800-836-5004 or e-mail us message to <a href=
            "mailto:privacypolicy@joinvip.com">privacypolicy@joinvip.com</a>.
        You may also direct your privacy-related comments or questions
        to:</p>
    <p><a href="/">VIP Communications, Inc.</a><br>
        Attn: Customer Service<br>
        45189 Research Pl #100<br>
        Ashburn, VA 20146-2694<br>
        (Reference: Privacy Policy)</p>
    <p><strong>Additional Information</strong><br>
        <br>
        Additional information regarding privacy of information is
        available from the FCC via the Internet at <a href=
            "http://www.fcc.gov">www.fcc.gov</a>, telephone 1-888-CALL-FCC
        (1-888-225-5322) or mail at the following address:</p>
    <p><a href="http://www.fcc.gov">Federal Communications
            Commission</a><br>
        Consumer &amp; Governmental Affairs Bureau<br>
        Consumer Inquiries and Complaints Division<br>
        445 12th Street, SW<br>
        Washington, DC 20554</p>
</div>
<div class="modal-footer"><button class="btn btn-primary btn-large" ng-click="ok()">Close</button></div>
