<div class="modal-header">
    <button type="button" class="close" ng-click="ok()"><i class="fa fa-times"></i></button>
    <h3>Terms &amp; Conditions</h3>
</div>
<div class="modal-body">
<p>Thanks for joining VIP. This document details your agreement with VIP Communications, Inc. (VIP) in relation to your
usage of your VIP account and VIP's products and services, including software and/or VIP's websites (collectively
referred to as 'VIP Services')

  <ol>
    <li>YOUR AGREEMENT WITH VIP.

      <ol>
        <li>VIP Services include your VIP account, VIP's website found at www.joinvip.com (the 'Website'), and all
        service made available to you by VIP through your VIP account, including but not limited to VIP's international
        calling service - Global Calling Account (GCA), Direct Line®, VIP Mobile Recharge and VIP's smartphone
        applications - VIPConnect®

        <li>Your agreement with VIP is made up of the VIP Terms and Conditions set out in this document and any Terms
        of Use specific to various VIP products and services. To the extent of any inconsistency between this document
        and any of our products and services Terms of Use or any other agreement between you and VIP, this document
        shall take precedence.
      </ol>
    </ol>

  <ol start="2">
    <li>ACCEPTANCE OF THE TERMS: In order to use your VIP Services, you must first accept these Terms. These Terms are
    accepted by you (a) when you click to accept or agree to the Terms; or (b) when you download and/or use the
    Software, Products and/or VIP Websites. These Terms remain effective from the date of acceptance until terminated
    by you or VIP in accordance with paragraph 14.
  </ol>

  <ol start="3">
    <li>CHANGES TO THESE TERMS: VIP may make changes to these Terms from time to time. VIP will publish these changes
    on our website at <a href="/terms-conditions">joinvip.com/terms-conditions</a>.
    All changes will be effective when published. Please make sure to check the Terms regularly for updates. You
    understand and agree that your acceptance of these Terms shall also constitute your agreement to the updated Terms.
    If you do not agree with the updated Terms you may terminate your relationship with VIP in accordance with
    paragraph 14.
  </ol>

  <ol start="4">
    <li>ACCOUNT ACCESS

      <ol>
        <li>You will have a password and PIN in order to be able to access the VIP Services. Your password and PIN
        should not be disclosed to any unauthorized third party. We recommend you regularly change both your password
        and PIN in order to maintain security against unauthorized access and usage of your VIP account.

        <li>All use of your VIP Services, and any associated costs, will be your sole responsibility, whether the usage
        was made by you or any third party.

        <li>If you suspect any possible unauthorized use of your VIP Services you must notify VIP immediately in order
        to suspend your VIP account. You will be responsible for all charges incurred prior to your VIP account being
        suspended. VIP has the right to change your password or PIN at any time without prior notice to you.
      </ol>
    </ol>

  <ol start="5">
    <li>LAWFUL USE OF THE VIP SERVICES

      <ol>
        <li>You agree and undertake to use the VIP Services in accordance with such conditions as may be varied from
        time to time by VIP by notice posted on our internet web page at www.joinvip.com.

        <li>You agree and undertake to use or permit to use the VIP Services only for purposes permitted by law.
      </ol>
    </ol>

  <ol start="6">
    <li>PROHIBITED USE: You may not:
  <ol type="a">
    <li>monitor, intercept, modify or damage any communication which is not intended for you;

    <li>manipulate caller ID information;

    <li>send or make any unsolicited communications or other communications not permitted by law or use the VIP
    Services to misrepresent or impersonate another person, harass, embarrass or threaten a third party in any way;

    <li>use the VIP Services in a fraudulent manner;

    <li>expose any third party to any material that might be considered offensive, indecent, harmful or objectionable
    in any way;

    <li>use any code or other malicious techniques to distort, change, access, delete or damage in any way VIP
    software, websites or products and services;
  </ol>
  </ol>

  <ol start="7">
    <li>USE OF VIP SERVICES: Subject to these Terms and Conditions, VIP grants you a non-exclusive, non-assignable,
    non-transferrable license to download and use our software, and to use our websites and products and services.
  </ol>

  <ol start="8">
    <li>NO WARRANTIES, LIMITATION OF LIABILITY AND INDEMNITY

      <ol>
        <li><strong>No Warranties:</strong> The VIP Services are offered for use on an 'as is' and 'as available' basis
        and are used by you at your own risk and with no warranties whatsoever. VIP does not make any warranties,
        claims or representations, and expressly disclaims all warranties of any kind, whether express or implied,
        written oral or statutory with respect to the vip services including, but not limited to warranties of quality,
        merchantibility, fitness for use for a specific purpose, performance, title or non-infringement.

        <li><strong>Limitation of liability:</strong> IN NO EVENT WILL VIP BE LIABLE FOR (I) ANY INCIDENTAL,
        CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO DAMAGES FOR economic losses, BUSINESS
        INTERRUPTION, personal injury, loss or damage to property, LOSS OF PROGRAMS, DATA OR INFORMATION, AND THE LIKE)
        ARISING OUT OF THE USE OF OR INABILITY TO USE THE vip services, OR ANY TRANSACTIONS PROVIDED ON THE SERVICE OR
        DOWNLOADED OR HYPERLINKED FROM THE SITE, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER
        INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH, OR HYPERLINKED FROM, THE SITE.
        In all instances, whether in contract, tort (including negligence) or any other form of liability, vip's total
        liability to you will be limited to the aggregate of the amount paid by you for your usage of the vip service
        for 12 months immediately prior to the event giving rise to the claim, subject to a maximum claim of four
        thousand US dollars in all cases.

        <li><strong>Indemnity:</strong> You agree to indemnify, defend, and hold harmless VIP, its officers, directors,
        employees, agents, shareholders, licensors, and any third party providers or suppliers from and against all
        losses, damages or expenses of any kind, including reasonable attorneys' fees and costs of litigation, arising
        from claims of a third party (including claims, assertions and investigations of a governmental agency), which
        claims arise in whole or part from your (i) use of any VIP Services or Materials, (ii) violation of this
        Agreement, or (iii) violation of the rights of any third party.
      </ol>
    </ol>

  <ol start="9">
    <li>NO EMERGENCY CALLS: The VIP Services are not intended to support or carry emergency calls of any kind. You must
    make alternative communications arrangements to ensure that you can make emergency calls if needed.
  </ol>

  <ol start="10">
    <li>NUMBERS provided by vip: Numbers provided to you by VIP (VIP Numbers), including but not limited to Direct Line
    numbers and Quick Dial numbers, are not owned by you and you do not have a right to retain the number forever. You
    acknowledge that you have no specific claim of ownership to any VIP Number. You may not attempt to transfer your
    VIP Number to another user or port-out the number. VIP reserves the right to change or withdraw the VIP Number
    allocated to you at any time, without notice, at its sole discretion.
  </ol>

  <ol start="11">
    <li>PAYMENTS AND REFUNDS

      <ol>
        <li>In order to use the VIP Services, you must first add sufficient credit to your VIP account to support the
        cost of said services.

        <li>You can pay for VIP Services by adding credit to your VIP account (VIP Credit). VIP Credit can be purchased
        by using any payment method made available to you by VIP or, if you have received a VIP credit voucher or
        promotional code, by redeeming said voucher or code. All properly purchased or redeemed credit will be made
        immediately available for your use of the VIP Services.

        <li>You can choose to automatically recharge (Auto Recharge) your VIP account by completing the Auto Recharge
        form located in the My Account portal of the VIP website. If you select the Auto Recharge option, your account
        will be automatically recharged with the amount of credit you select, using your designated payment account,
        when the balance falls below the specified threshold. By selecting this option, you are providing your
        continual approval for all subsequent recharges until you disable the Auto Recharge feature.

        <li>You may request a refund of any Paid Credit on your VIP Account. Paid Credit (Paid Credit) is defined as
        credit that has been added to your VIP Account, for which VIP has received a payment. It does not include
        credit received from vouchers, offers, promotions or the like, where no payment was received by VIP (Free
        Credit)

        <li>For the purposes of calculating your Paid Credit, VIP will consider the usage of the account credit in the
        following order:

          <ul>
            <li>Paid Credit

            <li>Free Credit
          </ul>

    <li>VIP will charge a five dollar ($5) administration fee for all refund requests.

    <li>When calculating the amount of a refund, VIP will first deduct any Free Credit from your account balance. VIP
    will then deduct the five dollar administration fee and refund the remaining Paid Credit to the same payment
    account used to add the credit. If the available Paid Credit is five dollars or less, the account balance will be
    set to zero and no refund will be due.
  </ol>
  </ol>

  <ol start="12">
    <li>INACTIVE CREDIT: If you do not use your VIP account for a period of 180 consecutive days, any credit remaining
    on your account will become inactive and be removed from the account. At your request, VIP may reactivate your
    credit, at our sole discretion.
  </ol>

  <ol start="13">
    <li>RATES TAXES AND CHARGES

      <ol>
        <li>All rates and charges for VIP Services will be displayed on the relevant VIP Websites. VIP reserves the
        right to change our rates and charges for any VIP service at any time, with immediate effect, and without
        notice. You agree that by continuing to use the VIP Services following a change in rates or charges, you accept
        such changes.

        <li>We recommend that you frequently check our advertised rates and charges by logging onto the VIP Website.

        <li>For calling services, all rates will be based upon the duration of each call, charged in full minute
        increments. At the end of a call, any partial minute of duration will be rounded up to the next full minute,
        and any fractional cent charge will be rounded to the next full cent. For example, a call with a duration of 4
        minutes and 40 seconds will be rounded up to 5 minutes, and a charge of 9.9 cents will be rounded up to 10
        cents.

        <li>VIP will include any taxes and fees in the rates that we charge for the applicable service where we are
        responsible for collection and submission. You are solely responsible for the payment of any other taxes and
        fees for which VIP does not have responsibility for collection and submission.

        <li>For all calls that originate from a payphone, VIP will charge an operator recovery surcharge. The amount of
        the surcharge will be published on the website.

        <li><strong>Third Party Charges:</strong> When using the VIP Services you may use data or minute allowances
        available on the service package to which you have subscribed with your phone or data service provider, or
        incur charges from your phone or data service provider. Out of country charges may lead to significantly higher
        costs than regular usage. You are solely responsible for understanding and paying for any such charges from
        your phone or data service provider.

        <li>When using a mobile phone to access the VIP network, pressing the send key after accessing the VIP network
        and dialing a number could lead to the call being sent over your mobile service provider's network. <strong>VIP
        strongly recommends that you block international calls with your mobile service provider in order to avoid this
        problem occurring.</strong> You acknowledge that you will not hold VIP liable for any third party charges where
        a call is routed and charged by your mobile service provider.
      </ol>
    </ol>

  <ol start="14">
    <li>TERMINATION

      <ol>
        <li>You may terminate your VIP account at any time, by providing email notice to us at <a href=
        "mailto:customerservice@joinvip.com">customerservice@joinvip.com</a> or by written notice to us at P.O. Box
        1517, Sterling, Virginia, 20167, USA. We will refund your account balance following the procedure outlined in
        section 11 of this agreement.

        <li>We may terminate your VIP account at any time, for any reason or no reason, and without notice. If we
        terminate your VIP account, we will refund your account balance following the procedure outlined in section 11
        of this agreement, except in the instance of fraud or suspected fraud, in which case, we reserve the right, at
        our sole discretion, not to refund any part of the remaining VIP Credit on your account.
      </ol>
    </ol>

  <ol start="15">
    <li>INTELLECTUAL PROPERTY: All of VIP's trademarks, service marks, symbols and other identifying marks and
    intellectual property of any sort, including but not limited to sounds, text, symbols, graphics, logos, icons,
    applications, images, audio and video clips, digital downloads and software (collectively 'Marks'), are the
    property of VIP and its Affiliates, and you shall have no rights to use the Marks or to sell or distribute anything
    containing the Marks.
  </ol>

  <ol start="16">
    <li>APPLICABLE LAW: These Terms and Conditions shall be governed in accordance with the laws of the Commonwealth of
    Virginia, USA and you irrevocably submit to the jurisdiction of the Commonwealth of Virginia, USA, regardless of
    where you reside or where you purchase or use the VIP Services.
  </ol>

  <ol start="17">
    <li>ENTIRE AGREEMENT: These Terms and Conditions represent the entire agreement between you and VIP and supersedes
    all prior agreements, understandings, statements and representations, whether written or oral, provided by VIP, our
    employees, representatives or any other third party.
  </ol>

  <ol start="18">
    <li>SEVERABILITY AND WAIVERS: If any part of this Agreement is determined to be illegal, unenforceable or invalid,
    in whole or in part for any reason, that part will be ineffective to the extent of such invalidity or
    unenforceability only, without in any way effecting the validity or enforceability of the remaining parts of the
    Agreement. The failure of either party to enforce one or more terms of this Agreement, will not be construed as a
    waiver to that term or any other term of this or any other Agreement between you and VIP. All waivers must be in
    writing.
  </ol>

  <ol start="19">
    <li>USE FROM OUTSIDE THE USA: VIP makes no representation that the VIP Services are appropriate or available for
    use in locations outside the United States, and accessing them from territories where the Services are illegal is
    prohibited. If you choose to access the VIP Services from locations outside of the US, you do so at your own
    initiative and are solely responsible for compliance with local laws.
  </ol>

  <p>If you have any questions about these Terms and Conditions, please contact us on our US Customer Service number
  1-800-836-5004, or from other locations click here for a list of customer service numbers: <a href=
  "/access-numbers">https://joinvip.com/access-numbers</a>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-large" ng-click="ok()">Close</button>
</div>
