<div class="content-region">
    <div class="slider-region row-fluid">
        <p class="people-say">See what <strong>people</strong> are saying about VIP</p>

        <ul class="bxslider">
            <li>
                <div class="testimonial-content">
                    <i class="icon-testimonial"></i>
                    <p><strong><span style="font-size: 1.3em;">This service has been a life saver</span></strong><br /> We discovered this company on arrival in the US and have used their service since that time (2001). It has been a lifesaver as we have family, including elderly parents, in South Africa, and friends all over the world. We have been able to call for an incredibly good price and have never had any problems. It costs less to call overseas than it costs to call friends 25 miles away. We are so grateful to VIP Communications and would recommend them to anyone.</p>

                    <div class="member-view">
                        <a href="javascript:void(0);" class="member-view-anchor">
                            <i class="icon-vip"></i> 
                            Caroline Millson                             </a>
                        <span class="star">
                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                        </span>
                        <span class="trustp">Trustpilot</span>
                    </div>                      
                </div>
            </li>
            <li>
                <div class="testimonial-content">
                    <i class="icon-testimonial"></i>
                    <p><strong><span style="font-size: 1.3em;">Best International Calling Plan on the Planet</span></strong><br />Could not be more pleased with the VIP Calling Plan for Ghana. The simplicity is remarkable, plus having 10 Speed Dial numbers that take you directly to your friends and family is fantastic. It makes the calls from your friends and family easier and less expensive for them, having a local number they can call. Every one has been pleased with your plan. We all sincerely thank you and my friends and family is telling everyone about your plan, and look to bring more customers to VIP Communications.                            
                        <div class="member-view">
                            <a href="javascript:void(0);" class="member-view-anchor">
                                <i class="icon-vip"></i> 
                                Robert Jarrett                           </a>
                            <span class="star">
                                <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                            </span>
                            <span class="trustp">Trustpilot</span>
                            </div>                       
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-content">
                            <i class="icon-testimonial"></i>
                            <p><strong><span style="font-size: 1.3em;">Great Service Even Better Prices</span></strong><br /> I love, love, love VIP. We've had it for years and use it for business and for personal use. It couldn't be easier. Their people are friendly, knowledgable and helpful. Our account automatically "reloads" when the balance gets low so there's never a problem. The connections are crystal clear and we save a boatload of money. I wish everyone I worked with worked as well as VIP.</p>

                            <div class="member-view">
                                <a href="javascript:void(0);" class="member-view-anchor">
                                    <i class="icon-vip"></i> 
                                    Jane Luba                            </a>
                                <span class="star">
                                    <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                    <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                    <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                    <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                    <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                </span>
                                <span class="trustp">Trustpilot</span>
                            </div>                      
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-content">
                            <i class="icon-testimonial"></i>
                            <p><strong><span style="font-size: 1.3em;">A solid service</span></strong><br />I have been using VIP for more than a decade. The price is very attractive and, while there are cheaper offerings, none of them delivers the quality of service that I have been enjoying consistently from VIP. In addition to the price and quality, VIP makes it convenient to call internationally from any of my telephones without having to enter any codes whatsoever and, the cherry on the cake, I have convenient speed dials for my family around the world!<br />
                                    <div class="member-view">
                                        <a href="javascript:void(0);" class="member-view-anchor">
                                            <i class="icon-vip"></i> 
                                            Charles Pinsky                           </a>
                                        <span class="star">
                                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                            <img src="img/star-icon.png" alt="" class="star-img pull-left" />
                                        </span>
                                        <span class="trustp">Trustpilot</span>
                                    </div>                      
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
